<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
   <div class="page-wrapper">

    {% include header.html %}

    {% if page.banner %}
      <img src="{% file "{{page.banner}}" %}" class="banner"/>
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

   </div>
  </body>

</html>
